.body_1 {
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  min-height: 100%;
  min-height: 660px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
}

.body_1:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}

table * {
  text-align: center;
}

.demo-input-label {
  display: inline-block;
  width: 130px;
}

.demo-input-suffix {
  margin-bottom: 16px;
}
/deep/.el-table .el-table__cell{
  text-align: center;
}
/*!*待我审批样式  蓝色*!*/
.button-await {
  background: #ecf5ff;
  border: 1px #cfe6ff solid;
  color: #5aaaff;
  display: inline-block;
  line-height: 1;
  min-height: 20px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 10px 15px;
  border-radius: var(--el-border-radius-base);
}
/*驳回审批样式 红色*/
.button-reject {
  /*背景*/
  background: #fef0f0;
  /*边框*/
  border: 1px #f2c5c5 solid;
  /*字的颜色*/
  color: #f57a7a;
  display: inline-block;
  line-height: 1;
  min-height: 20px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  border-radius: var(--el-border-radius-base);
}
/*通过审批样式 绿色*/
.button-pass {
  background: #f0f9eb;
  border: 1px #f0f9eb solid;
  color: #6fc545;
  display: inline-block;
  line-height: 1;
  min-height: 20px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 10px 20px;
  border-radius: var(--el-border-radius-base);
}

/*审批中样式 灰色*/
.button-underway {
  background: #f4f4f5;
  border: 1px #f9f9f9 solid;
  color: #92959b;
  display: inline-block;
  line-height: 1;
  min-height: 20px;
  white-space: nowrap;
  text-align: center;
  margin: 0;
  padding: 10px 15px;
  border-radius: var(--el-border-radius-base);
}

.el-form-item{
  margin-bottom: 4px;
}
